﻿@model  BPS.Intake.Web.Models.SRP.SRPModel

@{
    ViewBag.Title = "Intake";
}

<div class="breadcrumb fixed-breadcrumb">
    <div id="breadcrumb">
        <div id="dynamicBreacurmb" class="col-md-12">
            <ul id="breadcrumb-flat">
                <li><a href="@BPS.Intake.Infrastructure.IntakeConstants.DomainName">Home</a></li>
                <li><a>SRP</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-horizontal">
            @using (Html.BeginForm("Save", "SRP", FormMethod.Post, new { id = "srp-form-edit", role = "form", autocomplete = "off" }))
            {
                @Html.ValidationSummary(true)
                <div id="button-bar" data-spy="affix" data-offset-top="120">
                    <div class="col-sm-9 text-left">
                        <button class="btn btn-success" type="button" id="btnSaveDraft" url="@Url.Action("SaveCraft", "SRP")">Save as draft</button>
                        <button class="btn btn-error" type="button" id="btnSaveDraft" url="@Url.Action("DeleteCraft", "SRP")">Delete draft</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                @Html.Partial("~/Views/SRP/Inc/_HeaderStatus.cshtml")
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h4 class="box-title">Content</h4>
                            </div>
                            <div class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="col-lg-9" id="mainContent">
                                            @Html.Partial("~/Views/SRP/Inc/_FirstQuestion.cshtml")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6" id="action">
                                            <input type="button" class="btn btn-primary" id="btnPrev" value="Previous" />
                                            <input type="button" class="btn btn-primary" id="btnNext" value="Next" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#btnNext').on('click', function () {
                var sessionID = $('#SessionId').val();
                //var id = $('input[name=region]:checked').attr('id');
                var id = $('#ParentId').val();
                @*$.get('@Url.Action("NextRegion", "SRP")' + '?parentId=' + id, function (data) {
                    $('#mainContent').replaceWith(data);
                });*@

                $.ajax({
                    url: "@Url.Action("NextRegion", "SRP")" + '?parentId=' + id + '&sessionId=' + sessionID,
                    type: 'GET',
                    success: function (res) {
                        $('#mainContent').html(res.view);
                    }
                });
            });

            $('#btnPrev').on('click', function () {
                var sessionID = $('#SessionId').val();
                var id = $('#ParentId').val();

                @*$.get('@Url.Action("NextRegion", "SRP")' + '?parentId=' + id, function (data) {
                    $('#mainContent').replaceWith(data);
                });*@

                $.ajax({
                    url: "@Url.Action("PrevRegion", "SRP")" + '?parentId=' + id + '&sessionId=' + sessionID,
                    type: 'GET',
                    success: function (res) {
                        $('#mainContent').html(res.view);
                    }
                });
            });
          
        });

        function UpdateStatus() {
            $('#mainContent').steps({
                headerTag: "h4",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true,
                labels: {
                    finish: "Submit"
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    var url = '@Url.Action("NextRegion", "SRP")' + '?parentId=' + $('#parentId').val();
                    $('#mainContent').load(url);

                    @*$.get('@Url.Action("NextRegion", "SRP")' + '?parentId=' + $('#parentId').val(), function (data) {
                        $('#mainContent').replaceWith(data);
                    });*@

                    return true;
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    //alert("priorIndex: " + priorIndex);
                },
                onFinishing: function (event, currentIndex) {

                    return true;
                },
            })
            $('ul[role="tablist"]').hide();
            //UpdateStatus();
        }
    </script>
}