﻿@{
    ViewBag.Title = "Index";
}

<table id="srpGrid" class="table table-striped table-bordered table-hover dt-responsive footable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
</table>

@section scripts
{
<script src="~/Scripts/SRP/intake.srp.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            intake.srp.init({
                urlGetList: '@Url.Action("GetSRPs", "SRP")'
            });
            intake.srp.loadGrid();
        });
    </script>
}