﻿@using BPS.Intake.Infrastructure.Types
@using BPS.Intake.Web.Library.Helper.Common

@{
    var currentUser = User.GetUserInfo();
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            @{ Html.RenderAction("LoginProfile", "Account");}
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            @if (currentUser != null)
            {
                if (currentUser.IsInRoles(RoleType.User)
                    || currentUser.IsInRoles(RoleType.Trainning))
                {
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "Home", "") treeview">
                        <a id="navUser" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-area-chart"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "SRP", "") treeview">
                        <a id="navUser" href="@Url.Action("Index", "SRP")">
                            <i class="fa fa-area-chart"></i> <span>SRP</span>
                        </a>
                        <ul class="submenu">
                            <li class="">
                                <a id=""  href="@Url.Action("Add", "SRP")">
                                    <i class="fa fa-area-chart"></i> <span>Create an SRP</span>
                                </a>
                            </li>
                            <li class="">
                                <a id="navUser" href="@Url.Action("Index", "SRP")">
                                    <i class="fa fa-area-chart"></i> <span>List SRP</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "Home", "") treeview">
                        <a id="navUser" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-area-chart"></i> <span>SRP Group</span>
                        </a>
                        <ul class="submenu">
                            <li class="">
                                <a id="" href="">
                                    <i class="fa fa-area-chart"></i> <span>Create an SRP Group</span>
                                </a>
                            </li>
                            <li class="">
                                <a id="" href="">
                                    <i class="fa fa-area-chart"></i> <span>List SRP Group</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "Home", "") treeview">
                        <a id="navUser" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-area-chart"></i> <span>Client Files</span>
                        </a>
                    </li>
                }
                if (currentUser.IsInRoles(RoleType.Trainning))
                {
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "Home", "") treeview">
                        <a id="navTrainning" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-area-chart"></i> <span>Trainning</span>
                        </a>
                    </li>
                }
                if (currentUser.IsInRoles(RoleType.Admin))
                {
                    <li class="@CommonMethod.MakeChildItemMenuSelected("Index", "Home", "") treeview">
                        <a id="navAdmin" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-area-chart"></i> <span>Admin</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </section>
</aside>