﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="The description of my page" />
    <title>Intake</title>
    @Styles.RenderFormat("<link href=\"{0}\" type=\"text/css\" rel=\"stylesheet\"/>", "~/Content/css")
    @RenderSection("css", required: false)

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <input type="hidden" id="hddomain" value="@BPS.Intake.Infrastructure.IntakeConstants.DomainName" />
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <div class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<img src="@Url.Content(ViewBag.LogoPath)" class="hisrc img-responsive" width="172" height="20" alt="">*@

                <p><span>RM SUPPORT<br /><b>INTERVIEW FORM</b></span></p>
            </div>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>

        @Html.Partial("_LayoutNav")
        <div class="content-wrapper">
            <section class="content">
                <div id="divLoading"></div>
                @RenderBody()
            </section>
        </div>
        <footer class="">
            <div class="pull-right hidden-xs">
            </div>
            <div class="text-center">
                Environment: @* @appSetting.Environment*@
                <br />Version: @*@appSetting.ApplicationVersion.Show123Format()*@
            </div>
        </footer>
        <div class='scrolltop'>
            <div class='scroll icon'>
                <i class="fa fa-arrow-circle-up"></i>
            </div>
        </div>
    </div>

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/jquery")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/jqueryval")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/wizard")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/Layout")
    @RenderSection("scripts", false)
</body>
</html>
<script type="text/javascript">
    $(function () {
        //$('[data-toggle="push-menu"]').pushMenu('toggle')
    })
</script>