﻿@model BPS.Intake.Web.Models.PagingViewModel
@{
    var totalPages = (int)Math.Ceiling(Model.TotalRecords / (double)Model.PageSize);
    if (totalPages > 0)
    {
        <div>
            <ul id="div_pagination" class="pagination pull-right">
                <li @(Model.PageIndex == 0 ? Html.Raw("class='disabled'") : Html.Raw(""))>
                    <a class="page-item" href="#" title="First" data-page="1" onclick="PageIndex(this,event)"><<</a>
                </li>
                <li @(Model.PageIndex == 0 ? Html.Raw("class='disabled'") : Html.Raw(""))>
                    <a class="page-item" href="#" title="Prev" data-page="@((Model.PageIndex - 1 < 0) ? 1 : (Model.PageIndex))" onclick="PageIndex(this,event)"><</a>
                </li>
                @for (var page = 1; page <= totalPages; page++)
                {
                    <li @(page == Model.PageIndex + 1 ? Html.Raw("class='active'") : Html.Raw(""))>
                        <a class="page-item" href="#" title="Page @page" data-page="@page" onclick="PageIndex(this,event)">@page</a>
                    </li>
                }
                <li @(Model.PageIndex == totalPages - 1 ? Html.Raw("class='disabled'") : Html.Raw(""))>
                    <a class="page-item" href="#" title="Next" data-page="@(Model.PageIndex + 2 > totalPages ? totalPages : Model.PageIndex + 2)" onclick="PageIndex(this,event)">></a>
                </li>
                <li @(Model.PageIndex == totalPages - 1 ? Html.Raw("class='disabled'") : Html.Raw(""))>
                    <a class="page-item" href="#" title="Last" data-page="@(totalPages)" onclick="PageIndex(this,event)">>></a>
                </li>
            </ul>
            <input type="hidden" id="PageSize" value="@Model.PageSize" />
            
        </div>

    }
    <input type="hidden" id="UrlCallBack" value="@Model.CallBack" />
}

