﻿@using HvN.Lib.Shared.Exceptions

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container">
    <div class="clearfix">
        <h1 class="">Error.</h1>
    </div>
    <div class="">
        <div class="alert">
            <h3><span class="glyphicon glyphicon-warning-sign" />&nbsp;Oops, an error occurred while processing your request. Please contact the system administrator.</h3>

        </div>

        @if (Model != null)
        {
            var genException = Model.Exception as GenericException;

            <div>
                <p>
                    @if (genException != null)
                    {
                        <b>ExceptionId:</b> @genException.ExceptionId<br />
                    }
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>

                @if (HttpContext.Current.IsDebuggingEnabled)
                {
                    <div style="overflow: scroll">
                        <pre>@Model.Exception.StackTrace</pre>
                    </div>
                }
            </div>
        }
    </div>
</div>