﻿/* Pagination */
.dataTables_paginate.paging_bootstrap.pagination ul li a {
    text-decoration: none;
} 
.dataTables_paginate.paging_bootstrap.pagination li.disabled a {
    cursor: default;
}
.dataTables_paginate.paging_bootstrap.pagination li.disabled:hover a {
    background: none;
    color: #C7C7C7;
}
/* End Pagination */