﻿@model  BPS.Intake.Web.Models.SRP.SRPModel

<h4>Keyboard</h4>
<section>
    <input id="SessionId" name="SessionId" type="hidden" value="@Model.SessionId" />
    <input id="HaveNextPage" name="HaveNextPage" type="hidden" value="@Model.HaveNextPage" />
    <input id="HavePreviousPage" name="HavePreviousPage" type="hidden" value="@Model.HavePreviousPage" />
    <input id="ParentId" name="ParentId" type="hidden" value="@Model.Regions[0].ParentId" />
    @foreach (var item in Model.Regions)
    {
        if (item.TypeOfObject=="Checkbox")
        {
            if (item.DependentID == null)
            {
                <div>
                    <input type="checkbox" name="region" id="@item.Id" parentId="@item.ParentId" checked="@item.IsChecked" />
                    <a href="#" class="usr">@item.Name</a>
                </div>
            }
            else
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.Id == item.DependentID)
                    {
                        if (detaiitem.TypeOfObject == "RadioButton" || detaiitem.TypeOfObject == "Checkbox")
                        {
                            if (item.DependencyWhere == "True" && detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="checkbox" name="region" id="@item.Id" parentId="@item.ParentId" checked="@item.IsChecked" />
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }else if (item.DependencyWhere == "False" && !detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="checkbox" name="region" id="@item.Id" parentId="@item.ParentId" checked="@item.IsChecked" />
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                        if (detaiitem.TypeOfObject == "Dropdown" || detaiitem.TypeOfObject == "Textbox")
                        {
                            if (item.DependencyWhere == detaiitem.Value)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="checkbox" name="region" id="@item.Id" parentId="@item.ParentId" checked="@item.IsChecked" />
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                    }
                }
            }
        }
        if (item.TypeOfObject == "RadioButton")
        {
            if (item.DependentID == null)
            {
                <div>
                    <input type="radio" name="region" id="@item.Id" checked="@item.IsChecked"/>
                    <a href="#" class="usr">@item.Name</a>
                </div>
            }
            else
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.Id == item.DependentID)
                    {
                        if (detaiitem.TypeOfObject == "RadioButton" || detaiitem.TypeOfObject == "Checkbox")
                        {
                            if (item.DependencyWhere == "True" && detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="radio" name="region" id="@item.Id" checked="@item.IsChecked"/>
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }else if (item.DependencyWhere == "False" && !detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="radio" name="region" id="@item.Id" checked="@item.IsChecked"/>
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                        if (detaiitem.TypeOfObject == "Dropdown" || detaiitem.TypeOfObject == "Textbox")
                        {
                            if (item.DependencyWhere == detaiitem.Value)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <input type="radio" name="region" id="@item.Id" checked="@item.IsChecked"/>
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                    }
                }
            }

            @*@Html.RadioButtonFor(c => item.IsChecked, new { id = item.Id, @parentId = item.ParentId })*@
            @*<div>
                <input type="radio" name="region" id="@item.Id" parentId="@item.ParentId" />
                <a href="#" class="usr">@item.Name</a>
            </div>
            if (item.IsChecked)
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.DependentID == item.Id)
                    {
                        if (detaiitem.IsMultipleChoice)
                        {
                            <div>
                                <input type="checkbox" name="region" id="@detaiitem.Id" parentId="@detaiitem.ParentId" />
                                <a href="#" class="usr">@detaiitem.Name</a>
                            </div>
                        }
                        if (!detaiitem.IsMultipleChoice)
                        {
                            <div>
                                <input type="radio" name="region" id="@detaiitem.Id" parentId="@detaiitem.ParentId" />
                                <a href="#" class="usr">@detaiitem.Name</a>
                            </div>
                        }
                    }
                }
            }*@
    }
    if (item.TypeOfObject == "Textbox")
    {
        if (item.DependentID == null)
        {
                <div>
                    <a href="#" class="usr">@item.Name</a>
                    <input type="text"  id="@item.Id" parentId="@item.ParentId" value="@item.Value" />
                    <asp:Label id="@{@item.Id}lbl"  Text='' style="display:none;"/>
                    <input type="text" id="@{@item.Id}txt" style="display:none;" value="@item.Validation" />
                </div>
            }
            else
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.Id == item.DependentID)
                    {
                        if (detaiitem.TypeOfObject == "RadioButton" || detaiitem.TypeOfObject == "Checkbox")
                        {
                            if (item.DependencyWhere == "True" && detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <input type="text" id="@item.Id" parentId="@item.ParentId" value="@item.Value"  />
                                    <asp:Label id="@{@item.Id}lbl" Text='' style="display:none;" />
                                    <input type="text" id="@{@item.Id}txt" style="display:none;" value="@item.Validation" />
                                </div>
                            }else if (item.DependencyWhere == "False" && !detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <input type="text" id="@item.Id" parentId="@item.ParentId" value="@item.Value" />
                                    <asp:Label id="@{@item.Id}lbl" Text='' style="display:none;" />
                                    <input type="text" id="@{@item.Id}txt" style="display:none;" value="@item.Validation" />
                                </div>
                            }
                        }
                        if (detaiitem.TypeOfObject == "Dropdown" || detaiitem.TypeOfObject == "Textbox")
                        {
                            if (item.DependencyWhere == detaiitem.Value)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <input type="text" id="@item.Id" parentId="@item.ParentId" value="@item.Value" />
                                    <asp:Label id="@{@item.Id}lbl" Text='' style="display:none;" />
                                    <input type="text" id="@{@item.Id}txt" style="display:none;" value="@item.Validation" />
                                </div>
                            }
                        }
                    }
                }
            }
        }
        if (item.TypeOfObject == "Dropdown")
        {
            if (item.DependentID == null)
            {
                <div>
                    <a href="#" class="usr">@item.Name</a>
                    <select class="select" id="@item.Id" >
                        <option value=""> </option>
                        @foreach (var dbitem in item.DropdownDataSources)
                        {
                            if (item.Value== dbitem.OptionValue)
                            {
                                <option selected="selected" value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                            }
                            else
                            {
                                <option value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.Id == item.DependentID)
                    {
                        if (detaiitem.TypeOfObject == "RadioButton" || detaiitem.TypeOfObject == "Checkbox")
                        {
                            if (item.DependencyWhere == "True" && detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <select class="select" id="@item.Id">
                                        <option value=""> </option>
                                        @foreach (var dbitem in item.DropdownDataSources)
                                        {
                                            if (item.Value == dbitem.OptionValue)
                                            {
                                                <option selected="selected" value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                            else
                                            {
                                                <option value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }else if (item.DependencyWhere == "False" && !detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <select class="select" id="@item.Id">
                                        <option value=""> </option>
                                        @foreach (var dbitem in item.DropdownDataSources)
                                        {
                                            if (item.Value == dbitem.OptionValue)
                                            {
                                                <option selected="selected" value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                            else
                                            {
                                                <option value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }
                        }
                        if (detaiitem.TypeOfObject == "Dropdown" || detaiitem.TypeOfObject == "Textbox")
                        {
                            if (item.DependencyWhere == detaiitem.Value)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                    <select class="select" id="@item.Id">
                                        <option value=""> </option>
                                        @foreach (var dbitem in item.DropdownDataSources)
                                        {
                                            if (item.Value == dbitem.OptionValue)
                                            {
                                                <option selected="selected" value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                            else
                                            {
                                                <option value="@dbitem.OptionValue">@dbitem.OptionValue</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }
                        }
                    }
                }
            }
        }

        if (item.TypeOfObject == "Label")
        {
            if (item.DependentID == null)
            {
                <div>
                    <a href="#" class="usr">@item.Name</a>
                </div>
            }else
            {
                foreach (var detaiitem in Model.Regions)
                {
                    if (detaiitem.Id == item.DependentID)
                    {
                        if (detaiitem.TypeOfObject == "RadioButton" || detaiitem.TypeOfObject == "Checkbox")
                        {
                            if (item.DependencyWhere == "True" && detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }else if (item.DependencyWhere == "False" && !detaiitem.IsChecked)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                        if (detaiitem.TypeOfObject == "Dropdown" || detaiitem.TypeOfObject == "Textbox")
                        {
                            if (item.DependencyWhere == detaiitem.Value)
                            {
                                <div style="margin-left:@{@item.DependencyLevel}px;">
                                    <a href="#" class="usr">@item.Name</a>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    }
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $('document').ready(function(){
        $(':checkbox').change(function () {
            var sessionID = $('#SessionId').val();
            var parentId = $('#ParentId').val();
            var id = this.id;
            //var parentId = $('#' + id).attr('parentId');
            var url = '@Html.Raw(Url.Action("Checkbox_Change", "SRP", new { id = "_ID_", parentId = "_PARENTID_", bvalue = "_VALUE_", sessionId = "_SESSIONID_" }))'
            $.ajax({
                url: url.replace('_ID_', id).replace('_PARENTID_', parentId).replace('_VALUE_', this.checked).replace('_SESSIONID_', sessionID),
                @*url: "@Url.Action("Checkbox_Change", "SRP")" + '?Id=' + id + '&parentId=' + parentId + '&bValue=' + this.checked,*@
                type: 'GET',
                success: function (res) {
                    $('#mainContent').html(res.view);
                }
            });
        });

        $(':radio').change(function () {
            var sessionID = $('#SessionId').val();
            var parentId = $('#ParentId').val();
            var id = this.id;
            //var parentId = $('#' + id).attr('parentId');
            var url = '@Html.Raw(Url.Action("Radio_Change", "SRP", new { id = "_ID_", parentId = "_PARENTID_", bvalue = "_VALUE_", sessionId = "_SESSIONID_" }))'
            $.ajax({
                url: url.replace('_ID_', id).replace('_PARENTID_', parentId).replace('_VALUE_', this.checked).replace('_SESSIONID_', sessionID),
                @*url: "@Url.Action("Checkbox_Change", "SRP")" + '?Id=' + id + '&parentId=' + parentId + '&bValue=' + this.checked,*@
                type: 'GET',
            success: function (res) {
                $('#mainContent').html(res.view);
                }
            });
        });

        $(':text').keypress(function () {
            var sessionID = $('#SessionId').val();
            var parentId = $('#ParentId').val();
            var id = this.id;
            var validationID='#' + this.id + 'txt';
            if ($(validationID).val() != null && $(validationID).val() !='' && $(validationID).val() !='Email'){
                if (event.keyCode == 13){return false;}else{return goodchars(event, $(validationID).val());}
            }
        });

        $(':text').blur(function () {
            var sessionID = $('#SessionId').val();
            var parentId = $('#ParentId').val();
            var id = this.id;
            var smodel = {
                'Id': this.id,
                'ParentId': parentId,
                'SessionId': sessionID,
                'Value': this.value
            };
            console.log(JSON.stringify(smodel));
            $.ajax({
                url: '@Url.Action("Textbox_Blur", "SRP")',
                data: smodel,
                type: 'GET',
                dataType: "json",
                success: function (res) {
                    $('#mainContent').html(res.view);
            }
            });
        });

        $('select').change(function () {
            var sessionID = $('#SessionId').val();
            var parentId = $('#ParentId').val();
            var id = this.id;
            var smodel = {
                'Id': this.id,
                'ParentId': parentId,
                'SessionId': sessionID,
                'Value': this.value
            };
            console.log(JSON.stringify(smodel));
            $.ajax({
                url: '@Url.Action("Dropdown_Change", "SRP")',
                data: smodel,
                type: 'GET',
                dataType: "json",
                success: function (res) {
                    $('#mainContent').html(res.view);
            }
            });
        });

        if ($('#HavePreviousPage').val() =='0' ) {
            $('#btnPrev').hide();
        } else {
            $('#btnPrev').show();
        }

        if ($('#HaveNextPage').val() == '0') {
            $('#btnNext').hide();
        } else {
            $('#btnNext').show();
        }

        function getkey(e) {
    
            if (window.event)
                return window.event.keyCode;
            else if (e)
                return e.which;
            else
                return null;
        }

        function goodchars(e, goods) {
            var key, keychar;
            key = getkey(e);
            if (key == null) return true;

            // get character
            keychar = String.fromCharCode(key);
            keychar = keychar.toLowerCase();
            goods = goods.toLowerCase();

            // check goodkeys
            if (goods.indexOf(keychar) != -1) {
                return true;
            }
      
            // ASCII control keys
            /*  0 = null
                8 = backspace
                9 = tab
                13 = carriage return
                27 = esc
            */
            if (key == null || key == 0 || key == 8 || key == 9 || key == 13 || key == 27) {
                return true;
            }

                // else return false
            else {
                return false;
            }
        }
        @*function validateEmail(element) {
            var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$/;
            return (regex.test(element)) ? true : false;
        }*@
    })
</script>
<style>
    input[type=text] {
        width: 100%;
        padding: 5px 10px;
        margin: 4px 0;
        box-sizing: border-box;
    }
    .select {
        width: 30%;
        padding: 5px 10px;
        margin: 4px 0;
        box-sizing: border-box;
    }
</style>
