﻿@model  BPS.Intake.Web.Models.SRP.SRPModel

<h4>Keyboard</h4>
<section>
    @foreach (var item in Model.Regions)
    {
        if (item.IsMultipleChoice)
        {

            @Html.CheckBoxFor(c => item.IsChecked, new { id = item.Id })
            <a href="#" class="usr">@item.Name</a>
        }
        if (!item.IsMultipleChoice)
        {
            @Html.RadioButtonFor(c => item.IsChecked, new { id = item.Id })
            <a href="#" class="usr">@item.Name</a>
        }
    }
</section>