﻿@model BPS.Intake.Web.Models.Profile.UserProfileModel

@{
    ViewBag.Title = "Profile Info";
}

<div id="breadcrumb" class="breadcrumb fixed-breadcrumb">
    <div class="container">
        <div id="dynamicBreacurmb" class="col-md-12">
            <ul id="breadcrumb-flat">
                <li><a onclick="loadding()" href="@Url.Action("Index","Home")">Intake</a></li>
                <li><a>Profile</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-8 col-xs-8">
                <h3 class="h3, title">@ViewBag.Title</h3>
            </div>
        </div>
    </div>
</div>
<div class="space1"></div>
<div id="home" class="tab-pane fade in active container">
    <div class="form-detail">
        <div class="col-md-12">
            <div class="form-group row"></div>
            <div class="form-group row">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control formindiactor", Name = "Name", @maxLength = "100", @onfocus = "this.value = this.value;" } })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.GivenName, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    @Html.DisplayFor(model => model.GivenName, new { htmlAttributes = new { @class = "form-control formindiactor", Name = "Name", @maxLength = "100", @onfocus = "this.value = this.value;" } })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.SurName, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    @Html.DisplayFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control formindiactor", Name = "Name", @maxLength = "100", @onfocus = "this.value = this.value;" } })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control formindiactor", Name = "Name", @maxLength = "100", @onfocus = "this.value = this.value;" } })
                </div>
            </div>
            @*<div class="form-group row">
                @Html.LabelFor(model => model.LineManager, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    @Html.DisplayFor(model => model.LineManager, new { htmlAttributes = new { @class = "form-control formindiactor", Name = "Name", @maxLength = "100", @onfocus = "this.value = this.value;" } })
                </div>
            </div>*@
            @*<div class="form-group row">
                @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2 name-label-profile" })
                <div class="col-md-6 text-label-profile">
                    <ul class="formindiactor">
                        @foreach (var role in Model.Roles)
                        {
                            <li>@role</li>
                        }
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</div>
