﻿@model BPS.Intake.Domain.Dto.UserDto

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    }

    if (Model != null)
    {
        <p class="name tooltip-sidebar-logout" style="color:white">
            <span class="last-name">Welcome </span><span><b>@Model.UserName</b></span>
            <a id="linkLogoutProfile" class="logout-tooltip" title="Log out" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa fa-sign-out"></i>
            </a>
        </p>
    }
}

