﻿@model BPS.Intake.Domain.Dto.UserAuthenticationDto
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img" src="~/Content/img/logo.jpg" alt="">
                                </div>
                                <hr>
                            </div>
                            <div class="clearfix"></div>
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName)
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        <div class="input-group">
                                            <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block" id="btnCreateIndicatorGroup" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>