﻿@model BPS.Intake.Web.Models.Inc.PaginationModel
<div class="row container">
    <div class="pull-left paging-margin">
        <div class="dataTables_info" id="hidden-table-info_info">
            @if (Model.TotalRecords > 0)
            {
                <span>Showing <b>@(Model.PageSize * Model.CurrentPageIndex - Model.PageSize + 1)</b> to <b>@(Model.CurrentPageIndex == Model.PageCount || !Model.ShowPaging ? Model.TotalRecords : Model.PageSize * Model.CurrentPageIndex)</b> of <b>@Model.TotalRecords</b> items</span>

            }
            else
            {
                <span>0 record found</span>
            }
        </div>
    </div>
    @if (Model.TotalRecords > 0 && Model.ShowPaging)
    {
        var pageSizes = new List<int> { 10, 20, 50, 100 };
        var disabledFirst = Model.CurrentPageIndex <= 1;
        var disabledPrevious = Model.CurrentPageIndex - 1 < 1;
        var disabledNext = Model.CurrentPageIndex + 1 > Model.PageCount;
        var disabledLast = Model.CurrentPageIndex == Model.PageCount;

        <div class="pull-right">
            <div class="dataTables_paginate paging_bootstrap pagination" @(!string.IsNullOrEmpty(Model.PaginationId) ? "id=" + Model.PaginationId : string.Empty)>
                <ul class="pagination">
                    <li class="first @(disabledFirst ? "disabled" : string.Empty)"><a page="1" @Model.GetExecutePageClick(1, disabledFirst)>&lt;&lt; First</a></li>
                    <li class="prev @(disabledPrevious ? "disabled" : string.Empty)"><a page="@(Model.CurrentPageIndex - 1)" @Model.GetExecutePageClick(Model.CurrentPageIndex - 1, disabledPrevious)>&lt; Prev</a></li>
                    @if (Model.DisplayedPageStartIndex > 1)
                    {
                        if (Model.DisplayedPageStartIndex > 2)
                        {
                            <li><a page="@(Model.DisplayedPageStartIndex - 1)" @Model.GetExecutePageClick(Model.DisplayedPageStartIndex - 1)>...</a></li>
                        }
                    }
                    @for (int i = Model.DisplayedPageStartIndex; i <= Model.DisplayedPageEndIndex; i++)
                    {
                        <li @(i == Model.CurrentPageIndex ? "class=active" : string.Empty)><a page="@i" @Model.GetExecutePageClick(i, i == Model.CurrentPageIndex)>@i</a></li>
                    }
                    @if (Model.DisplayedPageEndIndex < Model.PageCount)
                    {
                        if (Model.DisplayedPageEndIndex < Model.PageCount - 1)
                        {
                            <li><a page="@(Model.DisplayedPageEndIndex + 1)" @Model.GetExecutePageClick(Model.DisplayedPageEndIndex + 1)>...</a></li>
                        }
                    }
                    <li class="next @(disabledNext ? "disabled" : string.Empty)"><a page="@(Model.CurrentPageIndex + 1)" @Model.GetExecutePageClick(Model.CurrentPageIndex + 1, disabledNext)>Next &gt;</a></li>
                    <li class="last @(disabledLast ? "disabled" : string.Empty)"><a page="@Model.PageCount" @Model.GetExecutePageClick(Model.PageCount, disabledLast)>Last &gt;&gt;</a></li>
                    @if (!string.IsNullOrEmpty(Model.PageSizeClickFunction))
                    {
                        <li>
                            @Html.DropDownList("hidden-table-info_length", new SelectList(pageSizes, Model.PageSize), new { onchange = string.Format(Model.PageSizeClickFunction, "this"), @class = "paging-size" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>