﻿#button-bar.affix {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #fcfcfc !important;
    z-index: 1000;
    padding-top: 2px;
}

body {
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
}

.main-header .navbar-custom-menu {
    padding-right: 30px;
}

.skin-blue .main-header .navbar {
    background-color: rgb(44, 62, 80);
    height: 50px !important;
}

/* user-panel*/
.sidebar-user-panel {
    text-align: center;
    padding: 15px;
}

    .sidebar-user-panel img {
        display: block;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .sidebar-user-panel .welcome {
        font-style: italic;
    }

    .sidebar-user-panel .name {
        margin: 0;
        font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    .sidebar-user-panel .last-name {
        font-weight: 400;
        color: #1e282c;
    }

.sidebar-menu > li {
    background-color: #DDE1E3;
    border-top: solid 1px #3E4854;
}

.sidebar-menu .treeview-menu > li > a > .fa, .sidebar-menu .treeview-menu > li > a > .glyphicon, .sidebar-menu .treeview-menu > li > a > .ion {
    width: 16px;
}

.sidebar-menu {
    font-size: 10.5pt;
    font-weight: bold;
    border-bottom: solid 1px #3E4854;
}

    .sidebar-menu .treeview-menu {
        padding-left: 0px;
    }

.content-wrapper, .right-side {
    background-color: #fcfcfc;
}


.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #2f912d !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #cd051d !important;
}

.main-footer {
    padding: 10px;
    background-color: #DDE1E3;
    font-size: 9pt;
}

/* Page: Login & Register*/
.login-page,
.register-page {
    background-color: rgb(221, 225, 227);
    overflow-x: auto;
}

.login-box-body, .register-box-body {
    background: none;
    padding: 0px;
    margin-left: 80px;
    margin-right: -15px;
    color: #333;
}


.login-box, .register-box {
    width: 580px;
    margin: 0% auto;
    padding-left: 15px;
    padding-right: 15px;
}

.login-logo, .register-logo {
    color: black;
    margin: 0;
}

.vertical-logo {
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 100%;
    color: #fff;
    text-shadow: none;
    overflow: hidden;
}

.vertical-logo-head {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

a.eversheds-vertical-logo {
    display: block;
    background: url('/Content/images/eversheds-sutherland-vertical-logo.png') no-repeat center top;
    height: 100%;
    position: fixed;
    width: 80px;
}

.error-page {
    width: initial;
    overflow-wrap: break-word;
    padding: 0 15px;
}

@media only screen and (max-width: 991px), handheld and (orientation: landscape) {
    .login-box-body, .register-box-body {
        margin-left: 0;
        margin-right: 0;
    }

    .login-box .main-contain {
        margin-left: 0;
    }

    .login-box h1 {
        margin-top: 10px;
    }

    .vertical-logo {
        position: inherit;
        width: 100%;
        height: 95px;
        max-width: none;
        background-size: auto auto;
    }

    .vertical-logo-head {
        padding: 0;
        margin-top: 15px;
    }

    a.eversheds-vertical-logo {
        display: block;
        background: url('/Content/images/eversheds-sutherland-horizontal-logo.png') no-repeat center top;
        height: 80px;
        width: 100%;
        background-position-y: 3px;
        position: relative;
    }
}

/* Flex Portlet Styles*/

.portlet {
    margin-bottom: 15px;
    border: 1px solid;
}

.form-group > div {
    margin-bottom: 10px;
    /*display: -webkit-box;*/
}

.portlet .portlet-heading {
    padding: 0 15px;
}

    .portlet .portlet-heading h4 {
        padding: 1px 0;
        font-size: 16px;
    }

    .portlet .portlet-heading a {
        color: #fff;
        font-weight: bold;
    }

        .portlet .portlet-heading a:hover,
        .portlet .portlet-heading a:active,
        .portlet .portlet-heading a:focus {
            outline: none;
            text-decoration: none;
        }

.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

    .portlet .portlet-heading .portlet-title h4 {
        margin: 9px 0;
    }

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

    .portlet .portlet-heading .portlet-widgets .tabbed-portlets {
        display: inline;
    }

    .portlet .portlet-heading .portlet-widgets .divider {
        margin: 0 5px;
    }

.portlet .portlet-body {
    padding: 15px 15px 15px 15px;
    background: #fff;
}

.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}

    .portlet .portlet-footer ul {
        margin: 0;
    }

.portlet-green,
.portlet-green > .portlet-heading {
    border-color: rgb(161, 216, 132);
}

    .portlet-green > .portlet-heading {
        color: #000000;
        background-color: rgb(161, 216, 132); /*#A1D884;*/
    }

    .portlet-green .portlet-heading a {
        color: #000000;
    }

/*matter create*/
.portlet-light-blue,
.portlet-light-blue > .portlet-heading {
    border-color: #00c0ef;
    background-color: #00c0ef;
}

    .portlet-light-blue > .portlet-heading {
        color: black;
    }

    .portlet-light-blue .portlet-heading a {
        color: black;
    }

.panel-collapse {
    width: 100%;
}


.portlet-orange,
.portlet-orange > .portlet-heading {
    border-color: #f39c12;
}

    .portlet-orange > .portlet-heading {
        color: #fff;
        background-color: #f39c12;
    }

.portlet-blue,
.portlet-blue > .portlet-heading {
    border-color: #2980b9;
}

    .portlet-blue > .portlet-heading {
        color: #fff;
        background-color: #2980b9;
    }

.portlet-red,
.portlet-red > .portlet-heading {
    border-color: #e74c3c;
}

    .portlet-red > .portlet-heading {
        color: #fff;
        background-color: #e74c3c;
    }

.portlet-purple,
.portlet-purple > .portlet-heading {
    border-color: #8e44ad;
}

    .portlet-purple > .portlet-heading {
        color: #fff;
        background-color: #8e44ad;
    }

.portlet-white,
.portlet-white > .portlet-heading {
    border-color: #B9D9EB;
}

    .portlet-white > .portlet-heading {
        color: #000;
        background-color: #B9D9EB;
    }

    .portlet-white .portlet-heading h4 {
        padding: 0px 0;
        font-size: 12pt;
        font-weight: bolder;
    }

.portlet-default,
.portlet-dark-blue,
.portlet-default > .portlet-heading,
.portlet-dark-blue > .portlet-heading {
    border-color: #34495e;
}

    .portlet-default > .portlet-heading,
    .portlet-dark-blue > .portlet-heading {
        color: #fff;
        background-color: #34495e;
    }

.portlet-basic,
.portlet-basic > .portlet-heading {
    border-color: #333;
}

    .portlet-basic > .portlet-heading {
        border-bottom: 1px solid #333;
        color: #333;
        background-color: #fff;
    }

.portlet-primary,
.portlet-primary > .portlet-heading {
    border-color: rgb(0, 102, 178);
}

    .portlet-primary > .portlet-heading {
        color: #fff;
        background-color: rgb(0, 102, 178);
    }

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}

/*apply style from old source*/
body {
    font-size: 10pt;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 23pt;
    font-weight: bold;
}

.page-title h1 {
    margin-bottom: 30px;
    font-size: 15pt;
}

h3 {
    font-size: 15pt;
}

h4 {
    font-size: 12pt;
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: normal;
}

.form-horizontal .control-label {
    text-align: left;
    font-size: 10pt;
    font-weight: bold;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.radio, .checkbox {
    padding-left: 20px;
}

    .radio label, .checkbox label {
        display: inline;
        font-weight: normal;
        cursor: pointer;
        padding: 0;
    }

.form-control {
    font-size: 10pt;
}

.btn {
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10.5pt;
    font-weight: bold;
}

.radio-inline {
    font-size: 10pt;
}

.dropdown-menu {
    font-size: 10pt;
    font-weight: bold;
}

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: bold;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
    }

.breadcrumb {
    font-size: 15pt;
}

th {
    font-size: 11pt;
    font-weight: bold;
}

.page-title.page-title-header {
    color: #FFF;
}

    .page-title.page-title-header h1 {
        margin-top: 12px;
        display: inline-block;
        text-align: center;
    }

.navbar-top > .nav-top > .nav > li {
    font-size: 10.5pt;
    font-weight: bold;
}

.navbar-side ul.side-nav {
    font-size: 10.5pt;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #3E4854;
    background-color: transparent;
}

.portlet .portlet-heading {
    padding-left: 10px;
}

    .portlet .portlet-heading h4 {
        font-size: 12pt;
        font-weight: bold;
    }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #2c3e50;
}

.navbar-side .side-user .welcome {
    font-style: normal;
    font-weight: normal;
}

.navbar-side .side-user .welcome,
.navbar-side .side-user .name,
.navbar-side .side-user .name .last-name,
.navbar-side .side-user .name a {
    color: inherit;
    font-family: inherit;
}

.navbar-side .side-nav > li,
.navbar-side .side-nav > li.panel {
    border-top: none;
    border-bottom: none;
}

.navbar-side .navbar-nav > li > a,
.navbar-side .navbar-nav > li > a:focus,
.navbar-side .navbar-nav > li > a:hover,
.navbar-side .navbar-nav > li > a:active {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    outline: none;
    color: #333;
    background-color: #DDE1E3;
    border-top: solid 1px #3E4854;
    border-bottom: solid 1px #3E4854;
}

    .navbar-side .navbar-nav > li > a.accordion-toggle {
        border-bottom: none;
    }

.navbar-side .side-nav > li.panel > ul.nav > li > a {
    background-color: #ECF0F1;
    padding-left: 10px;
    padding-right: 5px;
}

.navbar-side .side-nav li.panel i.fa, .navbar-side .side-nav li i.fa {
    padding-right: 5px;
}

@media (max-width: 767px) {
    body {
        background-color: #ECF0F1;
    }

    #button-bar.affix {
        top: 100px;
    }
}

#page-wrapper {
    border: none;
}

tbody {
    background-color: #FFFFFF;
}

.portlet-blue, .portlet-blue > .portlet-heading {
    background-color: #1171a3;
}

.portlet-title h4 {
    display: inline-block;
}

.portlet.edit-claim .portlet-heading .portlet-title {
    float: none;
}

.group-detail-title {
    background-color: #5BC5F2;
    margin-bottom: 15px;
    padding: 10px;
    overflow: hidden;
    color: #000;
    border-radius: 3px;
    font-size: 10.5pt;
    font-weight: bold;
}

.panel-group {
    margin-top: 35px;
}

    .panel-group:first-of-type {
        margin-top: 0;
    }

.portlet {
    margin-bottom: 15px;
}

    .portlet.cases-claims .portlet-body {
        padding: 0;
    }

    .portlet.cases-claims table {
        width: 100%;
        border-width: 0;
    }

    .portlet.cases-claims .footable > thead > tr > th {
        background-color: #5BC5F2;
        border-color: #5BC5F2;
        color: #000;
    }

a, a:hover, a:active, a:focus {
    color: #428bca;
}

    a:hover {
        text-decoration: underline;
    }

    a > span.fa {
        color: #34495e;
    }

#linkCreateClaimByCase {
    color: #34495e;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F3F3F3;
    border-radius: 3px;
}

.k-input:disabled, .k-multiselect-wrap:disabled, .k-textbox > input:disabled, .k-input[readonly], input.k-textbox:disabled,
input.k-textbox:hover, textarea.k-textbox:disabled, textarea.k-textbox:hover {
    background-color: #F3F3F3 !important;
}

.k-widget.k-datepicker {
    background-color: #EBEBEB;
}

    .k-widget.k-datepicker .k-state-disabled {
        background-color: transparent;
    }

        .k-widget.k-datepicker .k-state-disabled .k-select {
            background-color: transparent;
        }

.vulnerable-flag {
    display: inline-block;
    margin-top: -8px;
}

.text-no-records {
    font-size: 12pt;
    font-weight: bold;
}

.navbar-side ul.side-nav {
    font-size: 10.5pt;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #3E4854;
    background-color: transparent;
}

.content-wrapper {
    padding: 0 15px;
}


/* -- Circle Tiles */

.circle-tile {
    /*margin-bottom: 15px;*/
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

    .circle-tile-heading .fa {
        line-height: 80px;
    }

.circle-tile-content {
    padding-top: 50px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-description {
    /*text-transform: uppercase;*/
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

    .circle-tile-footer:hover, .circle-tile-footer:active {
        text-decoration: underline;
        color: rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.2);
    }

    .circle-tile-footer, .circle-tile-footer:hover, .circle-tile-footer:active, .circle-tile-footer:focus {
        color: #FFFFFF;
    }

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

/* Helper Classes

  8 8888        8 8 8888888888   8 8888         8 888888888o   8 8888888888   8 888888888o.     d888888o.   
  8 8888        8 8 8888         8 8888         8 8888    `88. 8 8888         8 8888    `88.  .`8888:' `88. 
  8 8888        8 8 8888         8 8888         8 8888     `88 8 8888         8 8888     `88  8.`8888.   Y8 
  8 8888        8 8 8888         8 8888         8 8888     ,88 8 8888         8 8888     ,88  `8.`8888.     
  8 8888        8 8 888888888888 8 8888         8 8888.   ,88' 8 888888888888 8 8888.   ,88'   `8.`8888.    
  8 8888        8 8 8888         8 8888         8 888888888P'  8 8888         8 888888888P'     `8.`8888.   
  8 8888888888888 8 8888         8 8888         8 8888         8 8888         8 8888`8b          `8.`8888.  
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888 `8b.    8b   `8.`8888. 
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888   `8b.  `8b.  ;8.`8888 
  8 8888        8 8 888888888888 8 888888888888 8 8888         8 888888888888 8 8888     `88. `Y8888P ,88P' 

*/

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #0066B2;
}

.green {
    background-color: #2F912D;
}

.blue {
    background-color: #2980b9;
}

.light-blue {
    background-color: #5BC5F2;
}

.orange {
    background-color: #F39100;
}

.red {
    background-color: #CD051D;
}

.purple {
    background-color: #711F7E;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

.light-green {
    background-color: #CAD100;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-orange-CAD100 {
    color: #F39100;
}

.text-red {
    color: #e74c3c;
}

.text-red-CD051D {
    color: #CD051D;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}


/*BUTTON*/
.btn-green {
    background-color: #2F912D !important;
    border-color: #2F912D !important;
}

    .btn-green:hover,
    .btn-green:focus,
    .btn-green:active,
    .btn-green.active,
    .open .dropdown-toggle.btn-green {
        border-color: #49b245 !important;
        color: #fff;
        background-color: #49b245 !important;
    }

    .btn-green.disabled,
    .btn-green[disabled],
    fieldset[disabled] .btn-green,
    .btn-green.disabled:hover,
    .btn-green[disabled]:hover,
    fieldset[disabled] .btn-green:hover,
    .btn-green.disabled:focus,
    .btn-green[disabled]:focus,
    fieldset[disabled] .btn-green:focus,
    .btn-green.disabled:active,
    .btn-green[disabled]:active,
    fieldset[disabled] .btn-green:active,
    .btn-green.disabled.active,
    .btn-green[disabled].active,
    fieldset[disabled] .btn-green.active {
        border-color: #49b245 !important;
        background-color: #49b245 !important;
    }

.btn-blue {
    border-color: #2779b0;
    color: #fff;
    background-color: #2980b9;
}

    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active,
    .btn-blue.active,
    .open .dropdown-toggle.btn-blue {
        border-color: #236d9d;
        color: #fff;
        background-color: #2573a6;
    }

    .btn-blue.disabled,
    .btn-blue[disabled],
    fieldset[disabled] .btn-blue,
    .btn-blue.disabled:hover,
    .btn-blue[disabled]:hover,
    fieldset[disabled] .btn-blue:hover,
    .btn-blue.disabled:focus,
    .btn-blue[disabled]:focus,
    fieldset[disabled] .btn-blue:focus,
    .btn-blue.disabled:active,
    .btn-blue[disabled]:active,
    fieldset[disabled] .btn-blue:active,
    .btn-blue.disabled.active,
    .btn-blue[disabled].active,
    fieldset[disabled] .btn-blue.active {
        border-color: #3f8dc0;
        background-color: #4993c3;
    }

.btn-red {
    border-color: #db4839;
    color: #fff;
    background-color: #e74c3c;
}

    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red.active,
    .open .dropdown-toggle.btn-red {
        border-color: #c54133;
        color: #fff;
        background-color: #cf4436;
    }

    .btn-red.disabled,
    .btn-red[disabled],
    fieldset[disabled] .btn-red,
    .btn-red.disabled:hover,
    .btn-red[disabled]:hover,
    fieldset[disabled] .btn-red:hover,
    .btn-red.disabled:focus,
    .btn-red[disabled]:focus,
    fieldset[disabled] .btn-red:focus,
    .btn-red.disabled:active,
    .btn-red[disabled]:active,
    fieldset[disabled] .btn-red:active,
    .btn-red.disabled.active,
    .btn-red[disabled].active,
    fieldset[disabled] .btn-red.active {
        border-color: #e95e50;
        background-color: #eb6759;
    }

.btn-purple {
    border-color: #8741a4;
    color: #fff;
    background-color: #8e44ad;
}

    .btn-purple:hover,
    .btn-purple:focus,
    .btn-purple:active,
    .btn-purple.active,
    .open .dropdown-toggle.btn-purple {
        border-color: #793a93;
        color: #fff;
        background-color: #803d9b;
    }

    .btn-purple.disabled,
    .btn-purple[disabled],
    fieldset[disabled] .btn-purple,
    .btn-purple.disabled:hover,
    .btn-purple[disabled]:hover,
    fieldset[disabled] .btn-purple:hover,
    .btn-purple.disabled:focus,
    .btn-purple[disabled]:focus,
    fieldset[disabled] .btn-purple:focus,
    .btn-purple.disabled:active,
    .btn-purple[disabled]:active,
    fieldset[disabled] .btn-purple:active,
    .btn-purple.disabled.active,
    .btn-purple[disabled].active,
    fieldset[disabled] .btn-purple.active {
        border-color: #9a57b5;
        background-color: #9f60b9;
    }

.btn-default,
.btn-dark-blue {
    border-color: #314559;
    color: #fff;
    background-color: #34495e;
}

    .btn-default:hover,
    .btn-dark-blue:hover,
    .btn-default:focus,
    .btn-dark-blue:focus,
    .btn-default:active,
    .btn-dark-blue:active,
    .btn-default.active,
    .btn-dark-blue.active,
    .open .dropdown-toggle.btn-default,
    .open .dropdown-toggle.btn-dark-blue {
        border-color: #2c3e50;
        color: #fff;
        background-color: #2f4254;
    }

    .btn-default.disabled,
    .btn-default[disabled],
    fieldset[disabled] .btn-default,
    .btn-default.disabled:hover,
    .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default:hover,
    .btn-default.disabled:focus,
    .btn-default[disabled]:focus,
    fieldset[disabled] .btn-default:focus,
    .btn-default.disabled:active,
    .btn-default[disabled]:active,
    fieldset[disabled] .btn-default:active,
    .btn-default.disabled.active,
    .btn-default[disabled].active,
    fieldset[disabled] .btn-default.active,
    .btn-dark-blue.disabled,
    .btn-dark-blue[disabled],
    fieldset[disabled] .btn-dark-blue,
    .btn-dark-blue.disabled:hover,
    .btn-dark-blue[disabled]:hover,
    fieldset[disabled] .btn-dark-blue:hover,
    .btn-dark-blue.disabled:focus,
    .btn-dark-blue[disabled]:focus,
    fieldset[disabled] .btn-dark-blue:focus,
    .btn-dark-blue.disabled:active,
    .btn-dark-blue[disabled]:active,
    fieldset[disabled] .btn-dark-blue:active,
    .btn-dark-blue.disabled.active,
    .btn-dark-blue[disabled].active,
    fieldset[disabled] .btn-dark-blue.active {
        border-color: #495c6e;
        background-color: #526476;
    }

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

    .btn-white:hover,
    .btn-white:focus,
    .btn-white:active,
    .btn-white.active,
    .open .dropdown-toggle.btn-white {
        border-color: #adadad;
        color: #333333;
        background-color: #ebebeb;
    }

/*customize Notification*/

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    width: 310px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.notifications-menu > .dropdown-menu > li.header > i.fa {
    font-size: 8pt;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #FEC600;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 10pt;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.notification-content > div,
.navbar-nav > .notifications-menu > .dropdown-menu > li.notification-content > div > ul {
    height: auto !important;
}


.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 10pt;
    background-color: #FEC600;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444444;
    text-align: center;
}

@media (max-width: 991px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
        background: #FEC600 !important;
        color: #ffffff !important;
    }
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #FEC600 !important;
    color: #444444 !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font-size: 10pt;
    font-weight: normal;
}

    .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover {
        text-decoration: underline;
    }

.fa-1-3x {
    font-size: 1.3em;
}
/*END customize Notification*/

.glyphicon-custom {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 900 !important;
    line-height: 2 !important;
    font-size: 38px !important;
    -webkit-font-smoothing: antialiased;
}


@-moz-document url-prefix() {
    .newInstruction {
        margin: -20px !important;
        padding-right: 20px;
    }
}

.red-icon-CD051D {
    color: #CD051D;
}

.amber-icon-FEC600 {
    color: #FEC600;
}

.green-icon-2F912D {
    color: #2F912D;
}

/*Quick view New Instructions*/
.notification-content .rowInstruction {
    width: 310px;
    float: left;
    border-bottom: 1px #f4f4f4 solid;
    color: #444444;
    font-size: 10pt;
    font-weight: normal;
    padding: 10px;
}

.notification-content .col-icon {
    float: left;
    border: 0px blue solid;
    width: 20px;
}

.notification-content .col-fullname {
    float: left;
    border: 0px blue solid;
    width: 175px;
}

.notification-content .col-date {
    float: right;
    width: 90px;
    border: 0px black solid;
}

.tooltipRowNewInstruction:hover {
    cursor: pointer;
}

    .tooltipRowNewInstruction:hover .col-fullname {
        text-decoration: underline;
    }

/*tipped*/
.tpd-content {
    font-size: inherit !important;
}

.tpd-size-medium .tpd-content, .tpd-size-medium .tpd-title {
    font-size: inherit !important;
}
/*tipped*/

#linkCreateClaimEdit {
    padding: 8px 13px 9px 17px;
    cursor: pointer;
}

.payment-tile .circle-tile-heading,
.payment-tile .circle-tile-content {
    background: #E1326B;
}

.tooltipDashboard {
    margin-bottom: 15px;
    padding: 0 36px;
    text-align: center;
}

.circle-tile-description.text-faded {
    height: 38px;
    max-width: 280px;
    display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
    .tooltipDashboard {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .circle-tile-description.text-faded {
        height: inherit;
        max-width: inherit;
    }
}

.dashboard .circle-tile-number .fa {
    width: inherit;
    display: block;
}

.glyphicon-claim {
    background: url("../../../../Content/images/claims-icon.png") no-repeat center;
    background-size: contain;
}

.glyphicon-payment {
    background: url("../../../../Content/images/coins.png") no-repeat center;
    background-size: contain;
}

.portlet .portlet-heading h4.my-breadcrumb {
    font-size: 9pt;
}

.my-breadcrumb a,
.my-breadcrumb i :not(span) {
    margin-right: 5px;
    color: #000 !important;
}

.my-breadcrumb span {
    color: #666666 !important;
}

.evershedPopup .modal-header {
    background-color: #1171a3;
    color: #fff;
    font-family: Verdana,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 11px 10px;
}

    .evershedPopup .modal-header h4 {
        font-size: 14pt;
        line-height: 1.1;
    }

.evershedPopup .modal-body button {
    float: right;
}

.evershedPopup .modal-content {
    border: #2980b9 solid 1px;
}

@media(min-width: 1027px) {
    .authorized-contact-us .portlet-body {
        padding-right: 35%;
    }
}

.chart {
    border-top: 1px solid #2980b9 !important;
    /*height: 350px;*/
    padding-top: 10px;
}

    .chart.child {
        /*height: 175px;*/
    }

    .chart h3 {
        color: #8E8E8E;
        text-align: center;
        font-size: 11pt;
        margin: 14px 0;
        /*letter-spacing: -1px;*/
    }

    .chart .part {
        text-align: center;
        font-size: 11pt;
        margin: 15px 15%;
    }

        .chart .part .title {
            border-bottom: 1px solid #3498db !important;
            color: gray;
            padding: 5px 0;
        }

        .chart .part .result {
            color: green;
            padding: 5px 0;
        }

    .chart.critical .part .result {
        color: green;
        padding: 5px 0;
        font-size: 15pt;
    }

    .chart .UKImage {
        background-image: url("/Content/images/UK.png");
        height: 250px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 25px 0px 25px 0px;
    }

    .chart .UKImageSmall {
        background-image: url("/Content/images/UK.png");
        height: 190px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin: 25px 0px 25px 0px;
    }

.critical .redFont {
    color: red;
    font-weight: bold;
}

.critical .yellowFont {
    color: #f39c12;
    font-weight: bold;
}

.critical .greenFont {
    color: green;
    font-weight: bold;
}

.retailVal {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -30px;
    color: green;
    line-height: 30px;
}

.nonRetailVal {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -60px;
    color: #5BC5F2;
    line-height: 30px;
}

.NoExchangeWitness div {
    font-size: 48pt;
    color: green;
    text-align: center;
}


.footable.metro-blue > tfoot > tr > th, .footable.metro-blue > thead > tr > th, .footable.metro-blue > tfoot > tr > td, .footable.metro-blue > thead > tr > td {
    background-color: #5BC5F2;
    border-color: #5BC5F2;
}

.footable > thead > tr > th, .footable > thead > tr > td {
    color: #000;
}

.footable {
    border: 1px solid rgb(91, 197, 242);
}

    .footable.metro-blue {
        border-color: #5BC5F2;
    }

.th-center-align {
    text-align: center !important;
}

.footable.metro-green {
    border-color: RGB(47, 145, 45);
}

    .footable.metro-green > tfoot > tr > th,
    .footable.metro-green > thead > tr > th,
    .footable.metro-green > tfoot > tr > td,
    .footable.metro-green > thead > tr > td {
        background-color: RGB(47, 145, 45);
        border-color: RGB(47, 145, 45);
    }

    .footable.metro-green > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-purple {
    border-color: #711F7E;
}

    .footable.metro-purple > tfoot > tr > th,
    .footable.metro-purple > thead > tr > th,
    .footable.metro-purple > tfoot > tr > td,
    .footable.metro-purple > thead > tr > td {
        background-color: #711F7E;
        border-color: #711F7E;
    }

    .footable.metro-purple > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-light-green {
    border-color: #CAD100;
}

    .footable.metro-light-green > tfoot > tr > th,
    .footable.metro-light-green > thead > tr > th,
    .footable.metro-light-green > tfoot > tr > td,
    .footable.metro-light-green > thead > tr > td {
        background-color: #CAD100;
        border-color: #CAD100;
    }

    .footable.metro-light-green > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-light-blue {
    border-color: #5BC5F2;
}

    .footable.metro-light-blue > tfoot > tr > th,
    .footable.metro-light-blue > thead > tr > th,
    .footable.metro-light-blue > tfoot > tr > td,
    .footable.metro-light-blue > thead > tr > td {
        background-color: #5BC5F2;
        border-color: #5BC5F2;
    }

    .footable.metro-light-blue > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-dark-blue {
    border-color: #0066B2;
}

    .footable.metro-dark-blue > tfoot > tr > th,
    .footable.metro-dark-blue > thead > tr > th,
    .footable.metro-dark-blue > tfoot > tr > td,
    .footable.metro-dark-blue > thead > tr > td {
        background-color: #0066B2;
        border-color: #0066B2;
    }

    .footable.metro-dark-blue > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-red {
    border-color: #CD051D;
}

    .footable.metro-red > tfoot > tr > th,
    .footable.metro-red > thead > tr > th,
    .footable.metro-red > tfoot > tr > td,
    .footable.metro-red > thead > tr > td {
        background-color: #CD051D;
        border-color: #CD051D;
    }

    .footable.metro-red > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-yellow {
    border-color: #F1C40F;
}

    .footable.metro-yellow > tfoot > tr > th,
    .footable.metro-yellow > thead > tr > th,
    .footable.metro-yellow > tfoot > tr > td,
    .footable.metro-yellow > thead > tr > td {
        background-color: #F1C40F;
        border-color: #F1C40F;
    }

    .footable.metro-yellow > thead > tr > th, .footable > thead > tr > td {
        color: #FFFFFF;
    }

.footable.metro-orange {
    border-color: #f39c12;
}

    .footable.metro-orange > tfoot > tr > th,
    .footable.metro-orange > thead > tr > th,
    .footable.metro-orange > tfoot > tr > td,
    .footable.metro-orange > thead > tr > td {
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .footable.metro-orange > thead > tr > th, .footable > thead > tr > td {
        color: #000;
    }

.chart label {
    margin-top: 7px;
}

#chart_ProjectBillingOverview {
    padding-left: 9px;
    padding-right: 0px;
    margin-top: 15px;
}

.legend-item {
    font: 12px sans-serif;
    margin: 2px;
    cursor: pointer;
}

    .legend-item .legend-marker {
        display: inline-block;
        width: 16px;
        height: 4px;
        margin-bottom: 2px;
    }

.cursorPointer svg path:last-child {
    cursor: pointer;
}

.cursorPointer svg {
    cursor: default;
}

    .cursorPointer svg path:last-child {
        cursor: pointer;
    }

.cursorPointer svg {
    cursor: default;
}

#divCriticalPathIssues {
    color: #000000;
}

    #divCriticalPathIssues li {
        list-style: inside;
    }

    #divCriticalPathIssues li {
        list-style: inside;
    }

#litigationIntelligencePage .page-title h3 {
    color: #8e8e8e;
    text-align: center;
    margin: 0 0 10px 0;
}

.btn-primary {
    background-color: rgb(0, 102, 178);
    border-color: rgb(0, 102, 178);
}

.scroll-chart {
    overflow-x: scroll;
    overflow-y: hidden;
}

.link-in-grid, .link-in-grid:hover {
    font-weight: bold;
    color: rgb(0, 110, 249);
}

#div_MattersForProject .header h3 {
    font-weight: bold;
}

.main-footer {
    bottom: 0;
    width: 100%;
    margin-left: 0px;
    position: inherit;
    border-top: 0px;
}

progress-bar {
    width: 100%;
}

.login-logo-img {
    height: 40px;
}

.financial-intelligence {
    background: url("/Content/images/Litigation.png") no-repeat center top;
}

.financial-real-intelligence {
    background: url("/Content/images/RealEstate.png") no-repeat center top;
}

.witness_litigation_logo {
    font-size: 50px;
    color: #2F912D;
}

.witness_litigation_content {
    font-size: 30px;
    color: #2F912D;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.witness_litigation_container {
    text-align: center;
}

.div_witness_litigation {
    margin-left: 35%;
}

.table_td_witness_litigation {
    padding-left: 30px;
    padding-top: 20px;
}

.iconCalendar {
    text-align: center;
    margin-top: 15px;
}

    .iconCalendar i {
        font-size: 80px;
        color: lightseagreen;
    }

.row-large {
    background-color: #DDE1E3;
    height: 5px;
}

@media (min-width: 768px) {
    .iconCalendar {
        text-align: center;
        /*margin-top:80px*/
    }
}

@media (min-width: 769px) {
    .iconCalendar {
        text-align: center;
        margin-top: 80px;
    }
}

@media (min-width: 1025px) {
    .iconCalendar {
        text-align: center;
        margin-top: 55px;
    }
}

/*[Device only] Border between charts which without filter year*/
@media only screen and (min-width: 375px) and (max-width: 768px) {
    .chart-under-filter {
        border-top: 1px solid #3498db !important;
        color: gray;
        padding: 5px 0;
        padding-top: 10px;
    }

    /*.chart-under-filter h3 {
            color: #8E8E8E;
            text-align: center;
            font-size: 11pt;
            margin: 14px 0;
            padding: 5px 0;
        }*/
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .chart .UKImage .UKImageSmall {
        margin-left: 60px;
    }

    .button-create-matter {
        margin-top: 20px;
    }

    .textbox-search-matter-width {
        display: inline-block;
        width: 294px !important;
    }

    .textbox-search-matter {
        width: 117% !important;
    }

    .search-button-view-matter {
        margin-left: -28% !important;
    }
}

@media only screen and (min-width: 667px) and (max-width: 667px) {
    .chart .UKImage UKImageSmall {
        margin-left: 200px;
    }

    .search-button-view-matter {
        margin-left: 331% !important;
    }

    .textbox-search-matter-width {
        display: inline-block;
        width: 294px !important;
    }

    .textbox-search-matter {
        width: 245% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .textbox-search-matter-width {
        display: inline-block;
        width: 294px !important;
    }

    .textbox-search-matter {
        width: 177% !important;
    }

    .search-button-view-matter {
        margin-left: 144% !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .search-button-view-matter {
        margin-left: 466% !important;
    }

    .textbox-search-matter-width {
        display: inline-block;
        width: 294px !important;
    }

    .textbox-search-matter {
        width: 293% !important;
    }
}

/*.kdesc:hover {
    position: relative;
}*/

/*.kdesc[title]:hover:after {
    content: attr(value);
    padding: 4px 4px;
    position: absolute;
    left: 0;top:0 !important;
    top: 100%;
    width: 210px;
    height: 90px;
    overflow: auto;
    white-space: normal;
    z-index: 1000;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:10px;
    border: 1px solid gray;
}*/

.border-split-area {
    border-bottom: 2px solid;
    margin-bottom: 26px;
    border-bottom-color: #1fabdd;
    border-width: 3px;
}

.chart svg {
    padding-top: 15px;
    overflow: initial !important;
}

.chart-height {
    margin-bottom: 20px;
}

.chart-height-matterByMonth {
    margin-bottom: 20px;
    height: 290px !important;
}

.chart-height-pieChart {
    margin-bottom: 20px;
    height: 300px !important;
}

.chart-height-litigation-noticeType {
    margin-bottom: 20px;
    height: 190px !important;
}

.chart-height-realEstate-timescale {
    margin-bottom: 20px;
    height: 190px !important;
}

.btnSearch-matterList {
    margin-left: -35px;
}

.portlet-light-blue, .portlet-light-blue > .portlet-heading {
    border-color: #00c0ef;
    background-color: #00c0ef;
}

.margin-top-for-error-at-least-one-condition {
    margin-top: 9px;
    margin-bottom: -15px;
}

.chart-font-style h3 {
    color: #8E8E8E;
    text-align: center;
    font-size: 11pt;
    margin: 14px 0;
    padding: 5px 0;
}

.chart-font-style .part {
    text-align: center;
    font-size: 11pt;
    margin: 15px 15%;
}

    .chart-font-style .part .title {
        border-bottom: 1px solid #3498db !important;
        color: gray;
        padding: 5px 0;
    }

    .chart-font-style .part .result {
        color: green;
        padding: 5px 0;
    }

.chart-font-style.critical .part .result {
    color: green;
    padding: 5px 0;
    font-size: 15pt;
}

.chart-font-style label {
    margin-top: 7px;
}

.chart-none-border {
    padding-top: 10px;
}

.chart-border {
    border-top: 1px solid #2980b9 !important;
    /*height: 350px;*/
    padding-top: 10px;
}

.search-button-view-matter {
    margin-left: -26%;
}


fieldset.fieldset-border {
    border: 1px solid !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

    fieldset.fieldset-border.fieldset-border-blue {
        border-color: #00c0ef !important;
    }

    fieldset.fieldset-border.fieldset-border-orange {
        border-color: #ffa500 !important;
    }

legend.legend-font-style {
    font-size: 10pt !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    color: #ffa500;
}

    legend.legend-font-style.legend-font-style-black {
        color: #333333 !important;
    }

    legend.legend-font-style.legend-font-style-orange {
        color: #ffa500 !important;
    }

fieldset > legend {
    display: table;
    float: none;
    margin: 0 5%;
}

/* FF only */
@media screen and (-moz-images-in-menus: 0) {
    fieldset {
        position: relative;
    }

        fieldset > legend {
            position: absolute;
            left: 50%;
            top: -12px; /* depends on font size and border */
            background: white; /* depends on background */
            transform: translate(-50%, 0);
        }
}

#button-bar.affix {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #fcfcfc !important;
    z-index: 1000;
    padding-top: 11px;
    padding-right: 25px;
}

@media (max-width: 767px) {
    body {
        background-color: #ECF0F1;
    }

    #button-bar.affix {
        top: 100px;
    }
}

.button-fileOpening {
    margin-left: -15px;
}

.information-matter {
    font-size: 10pt;
    margin-bottom: 12px;
    font-style: italic;
}

.icon-search {
    z-index: 100 !important;
}

.dashboard-tile-container {
    padding-left: 20px;
}

.dashboard-tile-content {
    width: 170px;
    height: 130px;
}

.dashboard-tile-header {
    margin-left: 44px;
}

.dashboard-table-container {
    margin-top: -20px !important;
}

.dashboard-search-matter-textbox {
    width: 260px !important;
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .dashboard-tile-content {
        width: 335px !important;
        height: 130px !important;
    }

    .dashboard-tile-header {
        margin-left: 130px !important;
    }

    .dashboard-table-container {
        margin-top: 0px !important;
    }

    .dashboard-tile-number {
        margin-top: -100px;
    }

    .dashboard-search-matter-textbox {
        width: 260px !important;
    }

    .dashboard-matterType-title {
        width: 120px !important;
    }

    .dashboard-matterType-dropdownlist {
        width: 210px !important;
    }
}

@media only screen and (min-width: 667px) and (max-width: 667px) {
    .dashboard-tile-content {
        width: 620px !important;
        height: 130px !important;
    }

    .dashboard-tile-header {
        margin-left: 270px !important;
    }

    .dashboard-table-container {
        margin-top: 0px !important;
    }

    .dashboard-tile-number {
        margin-top: -100px !important;
    }

    .dashboard-search-matter-textbox {
        width: 540px !important;
    }

    .dashboard-matterType-title {
        width: 120px !important;
    }

    .dashboard-matterType-dropdownlist {
        width: 500px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .dashboard-tile-content {
        width: 150px !important;
        height: 130px !important;
    }

    .dashboard-tile-header {
        margin-left: 35px !important;
    }

    .dashboard-table-container {
        margin-top: 0px !important;
    }

    .dashboard-tile-number {
        margin-top: -100px !important;
    }

    .dashboard-search-matter-textbox {
        width: 390px !important;
    }

    .dashboard-matterType-title {
        width: 120px !important;
    }

    .dashboard-matterType-dropdownlist {
        width: 360px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .dashboard-tile-content {
        width: 230px !important;
        height: 130px !important;
    }

    .dashboard-tile-header {
        margin-left: 75px !important;
    }

    .dashboard-table-container {
        margin-top: 0px !important;
    }

    .dashboard-tile-number {
        margin-top: -10px !important;
    }

    .dashboard-search-matter-textbox {
        width: 641px !important;
    }

    .dashboard-matterType-title {
        width: 120px !important;
    }

    .dashboard-matterType-dropdownlist {
        width: 360px !important;
    }
}

#tblKeyDates_wrapper {
    margin-left: 15px;
    margin-right: 15px;
}

.stop-matter-button {
    background-color: red !important;
    border-color: red !important;
}

.go-next-button {
    background-color: #2F912D !important;
    border-color: #2F912D !important;
}

.hide-progress-bar-step {
    visibility: hidden;
}

.red-dashboard-stopped {
    background-color: red !important;
}

.red-progressbar-stopped {
    background-color: #2F912D !important;
}

.red-description-stopped {
    color: red !important;
}

.red-inform {
    color: red;
}

.a-progress-bar {
    color: white !important;
    text-decoration: none !important;
}

.bs-wizard-content a {
    padding: 10px !important;
}

.header-status-REPG {
    width: 16.6% !important;
}

.display-none {
    display: none;
}
/*start sub menu*/
.sidebar-menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.sidebar .submenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
}

/* add hover behaviour */
.sidebar-menu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.sidebar-menu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
    background-color: #999;
}

    /* hover behaviour for links inside .submenu */
    .submenu a:hover {
        background-color: #666;
    }

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
/*end sub menu*/

.intelligence-chart .light-blue {
    color: #5BC5F2;
    background-color: #FFFFFF;
    display: inline;
}

.hidden-button {
    display: none;
}

.text-danger-matterDetails {
    color: red !important;
}

.border-top-red-focus {
    border-top-color: red !important;
}

.dataTable tr td {
    white-space: pre-line;
}

.pleaseWait_img {
    text-align: center;
    padding-top: 20%;
}

.th-text-color-black {
    color: black !important;
}

.th-text-color-white {
    color: white !important;
}

.textbox-search-matter-width {
    display: inline-block;
    width: 294px !important;
}

.form-control.textbox-search-matter {
    width: 265px;
}

.disable-content {
    pointer-events: none;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete {
    height: 150px;
}

.matterList_position {
    margin-top: -25px;
}

.user_list_position {
    margin-top: -75px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
    .matterList_position {
        margin-top: -30px;
    }
}

@media only screen and (min-width: 667px) and (max-width: 736px) {
    .matterList_position {
        margin-top: -75px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .matterList_position {
        margin-top: -75px;
    }
}

.div-headerstatus-rel {
    padding-left: 13%;
    margin-left: -220px !important;
}

.div-headerstatus-bar-rel {
    width: 20.8% !important;
}

.div-headerstatus-repg {
    padding-left: 10%;
    margin-left: -153px !important;
}

@media only screen and (min-width: 375px) and (max-width: 375px) {
    .div-headerstatus-rel {
        padding-left: 13%;
        margin-left: -70px !important;
    }

    .div-headerstatus-repg {
        padding-left: 10%;
        margin-left: -50px !important;
    }
}

@media only screen and (min-width: 667px) and (max-width: 667px) {
    .div-headerstatus-rel {
        padding-left: 13%;
        margin-left: -117px !important;
    }

    .div-headerstatus-repg {
        padding-left: 10%;
        margin-left: -92px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
    .div-headerstatus-rel {
        padding-left: 13%;
        margin-left: -84px !important;
    }

    .div-headerstatus-repg {
        padding-left: 10%;
        margin-left: -73px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .div-headerstatus-rel {
        padding-left: 13%;
        margin-left: -144px !important;
    }

    .div-headerstatus-repg {
        padding-left: 10%;
        margin-left: -107px !important;
    }
}

.evs-tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

    .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9;
    }

    .tooltip.top {
        padding: 5px 0;
        margin-top: -3px;
        padding-bottom: 4px;
    }

    .tooltip.right {
        padding: 0 5px;
        margin-left: 3px;
    }

    .tooltip.bottom {
        padding: 5px 0;
        margin-top: 3px;
    }

    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    text-align: left;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.hide-element {
    visibility: hidden;
}

.show-element {
    visibility: visible;
}

.icon-addon.addon-md textarea.form-control {
    padding-left: 12px;
}

.padding-bottom {
    padding-bottom: 2%;
}

.padding-left-zero {
    padding-left: 0%;
}

.font-style-user-settings {
    color: #4E5FD5;
    font-style: italic;
}

.margin-fieldset {
    margin-left: 2px;
    margin-right: 2px;
}

.no-role {
    display: none;
}

input[type="radio"] {
    margin-top: 5pt;
}

.no-border {
    border: none !important;
}

span.td-container {
    height: auto;
    overflow-y: hidden;
    display: inline-block;
}

.label-elite-tab {
    font-weight: normal !important;
}
