/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.control-no-boder {
    border-radius: 5px;
    margin: 10px 5px;
    padding: 8px 0 10px;
}
.pagination{
    margin:0px;
}
#Pagination .pagination > li > a,#div_pagination > li > a{
    border-radius:4px;
    margin:0 0.4em;
}
.clickable {
    cursor: pointer;
}

#divlstMedia .thumbnail {
    margin-bottom:20px;
    padding:5px 10px;
}

#divlstMedia .close {
    margin:0 5px;
}

.modal-header {
    background-color: #205081;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-body .row {
    margin-bottom: 10px;
}

.dropzone {
border:2px dashed rgba(0, 0, 0, 0.3)!important;
}
.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}

#btnMediaRemove{
    cursor:pointer;
}

#btnMediaEdit{
     cursor:pointer;
}

.dropzone .dz-preview.dz-image-preview:hover .dz-details img, .dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
    display: block;
    opacity: 100 !important;
}

    /*.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
        height: 200px!important;
        width: 200px!important;
    }

    .dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
        height: 200px!important;
        width: 200px!important;
    }
    .dropzone {
    padding:2px !important;
}*/