﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BPS.Intake.Web.Library.Extensions
@model BPS.Intake.Web.Areas.Admin.Models.UserRoleViewModel

@if (Model.ListUser != null)
{
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;@(Model.ListUser.Count) record
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Full name</th>
                            @foreach (var role in Model.ListRole)
                            {
                                <th>@role.Name</th>
                            }
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.ListUser)
                        {
                            <tr>
                                <td>@(string.Format("{0} {1}", user.FirstName, @user.LastName))</td>
                                @foreach (var role in Model.ListRole)
                                {
                                    var userRole = user.Roles.Select(s => s.RoleType).ToList();
                                    var roleType = (int)role.RoleType;
                                    var checkstr = string.Empty;
                                    if (userRole.Contains(role.RoleType))
                                    {
                                        if ((int)role.RoleType == 1 && User.Identity.GetUserGuid() == user.Id)
                                        {
                                            checkstr = "checked='checked' disabled";
                                        }
                                        else
                                        {
                                            checkstr = "checked='checked'";
                                        }
                                    }
                                    <td><input onclick="AssignUserrole('@(user.Id)','@roleType')" type="checkbox" @(checkstr) /></td>
                                }
                                <td>@(user.CreatedDate != null ? user.CreatedDate.Value.ToString("MM/dd/yyyy") : "")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function AssignUserrole(userId, roletype) {
        $.ajax({
            type: "GET",
            url: "../../Admin/Role/AssignUserrole",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: { "userId": userId, "roleType": roletype },
            async: true,
            cache: false,
            success: function () {

            }
        });
    }
</script>